# IntelliJ IDEA
.idea/

# Compiled class files
*.class

# Log files
*.log

# Bytecode files
*.jar

# Gradle files
.gradle/
build/

# Maven files
target/
**/target/

# Eclipse files
.project
.classpath
.settings/

# Mac OSX specific files
.DS_Store